{% extends 'base.html' %} {% block content %} {% load static %}
<div class="row">
  <img
    src="{% static 'report/page3.png' %}"
    alt="404"
    class="img-fluid border-bottom border-dark col-lg-6"
  />
  <img
    src="{% static 'report/page4.png' %}"
    alt="404"
    class="img-fluid border-bottom border-dark col-lg-6"
  />
  <img
    src="{% static 'report/page5.png' %}"
    alt="404"
    class="img-fluid border-bottom border-dark col-lg-6"
  />
  <img
    src="{% static 'report/page6.png' %}"
    alt="404"
    class="img-fluid border-bottom border-dark col-lg-6"
  />
  <img
    src="{% static 'report/page7.png' %}"
    alt="404"
    class="img-fluid border-bottom border-dark col-lg-6"
  />
  <img
    src="{% static 'report/page8.png' %}"
    alt="404"
    class="img-fluid border-bottom border-dark col-lg-6"
  />
  {% endblock content %}
</div>
